@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


body{
    background: linear-gradient(to right, #0f2719, #20433d, #2c6454);
    font-family: 'Poppins', sans-serif;
}

#form{
    width: 300px;
    margin: 20vh auto 0 auto;
    padding: 20px;
    background-color: whitesmoke;
    border-radius: 4px;
    font-size: 12px;
}

#form h1{
    color: #0f2027;
    text-align: center;
}

#form button{
    padding: 10px;
    margin-top: 10px;
    width: 100%;
    color: white;
    background-color: rgb(36, 171, 102);
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#form button:hover{
    background-color: rgb(30, 117, 59);
}

.input-control{
    display: flex;
    flex-direction: column;
   
}
input {
    box-sizing: border-box;
}

.input-control input{
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    font-size: 12px;
    padding: 10px;
    width: 100%;
}

.input-control input:focus{
    outline: none;
}

.input-control.error input{
    border-color: #ff3860;
}

.input-control.success input{
    border-color: #09c372;
}

.input-control .error{
    color: #ff3860;
    font-size: 9px;
    height: 13px;
}